{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{% url 'search-person' %}">
        {% csrf_token %}
        <div class="input-group float-left" style="margin-bottom: 10px;">
            <div class="form-outline">
                <input type="search" name="search" id="form1" placeholder="Search by name" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary" style=" width: 99px; height: 37px; margin-left: 17px; ">
                Search
            </button>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Nationality</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profile_list %}
            <tr>
                <td>{{ profile.name }}</td>
                <td>{{ profile.phone }}</td>
                <td>{{ profile.nationality }}</td>
                <td>{{ profile.dob }}</td>
                <td><img src="http://127.0.0.1:8000/media/{{ profile.profile_image }}" width="75" height="75">
                </td>
                <td><a href="{% url "person_details_view" profile.id %}">view</a></td>
            </tr>
        {% endfor %}

        </tbody>

        {#        <div class="pagination">#}
        {#    <span class="step-links">#}
        {#        {% if page_obj.has_previous %}#}
        {#            <a href="?page=1">&laquo; first</a>#}
        {#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
        {#        {% endif %}#}
        {##}
        {#        <span class="current">#}
        {#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
        {#        </span>#}
        {##}
        {#        {% if page_obj.has_next %}#}
        {#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
        {#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
        {#        {% endif %}#}
        {#    </span>#}
        {#        </div>#}
    </table>


    </script>
{% endblock content %}
