{% extends 'base.html' %}

{% block content %}
    <div class="row pb-3">
        <div class="col-md-3 pt-md-0 pt-3">
            <img style="width: 101px;" class="rounded-circle d-flex mr-3"
                 src="http://127.0.0.1:8000/media/{{ profile.profile_image }}"
                 alt="Profile image">
        </div>
        <div class="col-md-9 pt-md-0 pt-2">
            <h5 class="mt-0">
                {{ profile.name }}
            </h5>
            <div class="personal-info">
                <span>Phone: {{ profile.phone }}</span><br>
                <span>Email: <a href="mailto:anishmiyaiw@gmail.com" target="_blank">{{ profile.email }}</a></span><br>
                <span>Date of Birth: {{ profile.dob }}</span>
                <span>Phone: {{ profile.phone }}</span><br>
                <span>Gender: {{ profile.gender }}</span><br>

                <br>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <h5>
                <span class="icon-graduation mr-2"></span> Education
            </h5>
            <div class="dropdown-divider"></div>
            {% for academic in academics %}
                <div class="row pb-3">
                    <div class="col-md-3">
                        <span class="icon-calendar mr-2"></span>
                        {{ academic.degree }}
                    </div>
                    <div class="col-md-9">
                        <h6>
                            <span class="icon-circle-check mr-2"></span> Program: {{ academic.program }}
                        </h6>
                        <div>
                            <span class="icon-building mr-2"></span>
                            College Name: {{ academic.college_name }}
                        </div>
                        <div>
                            <span class="icon-building mr-2"></span>
                            Graduation year :{{ academic.graduation_year }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
