{% extends 'base.html' %}

{% block content %}
    <style>
        .asterisk {
            color: red;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <form id="myform" class="row g-3" method="post" action="{% url 'profile-add' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="validationServer01" class="form-label">Full name <span class="asterisk">*</span></label>
            <input type="text" name="name" class="form-control" id="validationServer01"
                   placeholder="Enter your name"
                   required>
        </div>

        <div class="col-md-6">
            <label for="validationServer02" class="form-label">Phone <span class="asterisk">*</span></label>
            <input type="text" name="phone" class="form-control" id="validationServer02"
                   placeholder="Enter your phone number" required>
        </div>

        <div class="col-md-6">
            <label for="validationServer02" class="form-label">Nationality <span class="asterisk">*</span></label>
            <input type="text" name="nationality" class="form-control" id="validationServer02"
                   placeholder="Enter your nationality" required>
        </div>


        <div class="col-md-6">
            <label for="validationServer02" class="form-label">Date of birth <span class="asterisk">*</span></label>
            <input type="date" name="dob" class="form-control" id="validationServer02"
                   placeholder="Enter your nationality" required>
        </div>

        <div class="col-md-6">
            <label for="validationServer02" class="form-label">Email <span class="asterisk">*</span></label>
            <input type="email" name="email" class="form-control" id="validationServer02"
                   placeholder="Enter your email" required>
        </div>

        <div class="col-md-6">
            <label for="validationServer02" class="form-label">Specified Gender <span class="asterisk">*</span></label>

            <select name="gender" class="form-select form-select-md" aria-label=".form-select-lg example"
                    required>
                <option selected>Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="N">None</option>
            </select>

        </div>

        <div class="col-md-6">
            <label for="validationServer02" class="form-label">Select</label>

            <select name="mode_of_contact" class="form-select form-select-md" aria-label=".form-select-lg example"
                    required>
                <option selected>Preferred mode of contact (select one from email, phone, none)u</option>
                <option value="PH">Phone</option>
                <option value="EM">Email</option>
                <option value="NO">None</option>
            </select>

        </div>

        <div class="col-md-6">
            <label for="validationServer02" class="form-label">UploadImage</label>
            <input type="file" name="image" class="form-control">
        </div>


        <div class="col-md-12 d-flex flex-row-reverse">
            <span class="addBtn">
                <button style=" margin-top: 30px; margin-left: 50px; " type="button" class="btn btn-info">Add academic info</button>

          </span>
        </div>

        <div id="submit" class="col-12" style="margin-top: 10px">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

    <script>
        $('.addBtn').click(function () {
            addRow();
        });


        function addRow() {
            var count = $("#myform .row").length;

            $("#submit").remove();
            $("#myform").append(`<div class="col-md-12" style="margin-top: 10px">
            <div class="row">
                <div class="col-md-3">
                    <label for="validationServer02" class="form-label">Degree Name</label>
                    <input type="text" name="degree" class="form-control" id="validationServer02"
                           placeholder="Enter your degree EX. SLC, BE, Master">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <div class="col-md-3">
                    <label for="validationServer02" class="form-label">Program</label>
                    <input type="text" name="program" class="form-control" id="validationServer02"
                           placeholder="Enter your program EX. Computer, BBA, BEIT">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <div class="col-md-2">
                    <label for="validationServer02" class="form-label">College Name</label>
                    <input type="text" name="college_name" class="form-control" id="validationServer02"
                           placeholder="Enter your College name">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="validationServer02" class="form-label">Graduation Year</label>
                    <input type="date" name="g_year" class="form-control" id="validationServer02">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-2">
                    <button style=" margin-top: 30px; margin-left: 50px; " type="button" onClick="deleteRow(this)" class="btn btn-danger">Danger</button>
                </div>
            </div>
        </div>
        <div id="submit" class="col-12" style="margin-top: 10px">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>`);

        }


        function deleteRow(trash) {
            $(trash).closest('.row').remove();
        }
    </script>
{% endblock content %}
